.chatContainer {
  max-width: 1150px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 20px;
  background-color: #dfdfdf;
  margin-right: 0px;
  margin-left: 0px;
}

/* Room and users component */
.roomAndUsersColumn {
  margin-top: 8px;
  padding: 30px;
  border-right: 1px solid #dfdfdf;
  background-color: #dfdfdf;
  border-radius: 50px;
  box-shadow: inset 0 -6em 6em rgb(42 28 28 / 10%), 0 0 0 0 hsl(260deg 27.61% 92.6%), 0.6em 0.6em 2em hsl(243.59deg 42.17% 32.45%);
}
.roomTitle {
  text-transform: uppercase;
  font-size: 2rem;
  color: #0d0562;
}
.usersTitle {
  font-size: 1rem;
  color: #0d0562;
}
.usersList {
  list-style-type: none;
  padding-left: 0;
  color: #0d0562;
}
.usersList li {
  margin-bottom: 12px;
}

/* Messages */
.messagesColumn {
  height: 85vh;
  overflow: auto;
  padding: 10px 10px 10px 40px;
}
.message {
  background: rgb(0, 24, 111);
  border-radius: 6px;
  margin-bottom: 24px;
  max-width: 600px;
  padding: 12px;
  box-shadow: inset 0 -6em 6em rgb(42 28 28 / 10%), 0 0 0 0 hsl(260deg 27.61% 92.6%), 0.6em 0.6em 2em hsl(243.59deg 42.17% 32.45%);
}
.msgMeta {
  color: rgb(153, 217, 234);
  font-size: 0.75rem;
}
.msgText {
  color: #fff;
}

/* Message input and button */
.sendMessageContainer {
  padding: 16px 20px 20px 16px;
}
.messageInput {
  padding: 14px;
  margin-right: 16px;
  width: 75%;
  border-radius: 6px;
  border: 1px solid rgb(153, 217, 234);
  font-size: 0.9rem;
  box-shadow: inset 0 -6em 6em rgb(42 28 28 / 10%), 0 0 0 0 hsl(260deg 27.61% 92.6%), 0.6em 0.6em 2em hsl(243.59deg 42.17% 32.45%);
}
.btn.btn-primary {
  box-shadow: inset 0 -6em 6em rgb(42 28 28 / 10%), 0 0 0 0 hsl(260deg 27.61% 92.6%), 0.6em 0.6em 2em hsl(243.59deg 42.17% 32.45%);
}